*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item{
    height:auto;
    
}

.s1{
    /* height:95vh; */
    background-color:#808080;
    background-size: cover;
    color:white;
    width:100%;
    height: 100%;

}

.masthead-brand{
    float:right;
    font-family: 'Pangolin', cursive;
    font-size: 60px;  
}

 .cover{ 
     float:right; 
     height: 100%;
 }


.jumbotron{
    background-color: rgb(65, 88, 114); 
    color:white
    } 

.card-body{
    color:black;
    text-align: center;
}

h5{
    color: rgb(4, 54, 108);
}

/* (h5 tag what we offer) */
#a{ 
    color:rgba(6, 59, 66, 0.648);
}

.s2{
    background-color: rgb(128, 91, 62);
}


.s3{
    color: white;
    text-align: center;
    background-color: rgb(73, 75, 67);
}


.material-symbols-outlined{ 
    font-size: 448px;
 }

 /****************** best school styling */
 #b{
    text-align: center;
    padding-bottom: 15px;
 }

 /****************************** about text in that page */
#d{
    text-align: right;
    font-size: 50px;
    color:white;
}

.card-img{
    width:100%vw;
    height:420px;
}

.s4{
    padding: 3px 0px;
    background-color: rgb(67, 96, 96);
}

/************************************* team flip affect code here */
.card-wrapper{
    height:400px;
    width: 300px;
    perspective: 1000px;
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style:preserve-3d;
}

.card-wrapper:hover .content{
    transform: rotateY(180deg);
    transition: 1s;
}

.face-front, .face-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color:black;
    backface-visibility: hidden;
}

.face-back{
    transform: rotateY(180deg);
}
/************************************** till here our team code */

.e{
    margin-right: 3px;
}




/*********************************************** Lessons Styling Begins here */

.s5{
    background-color: rgb(18, 91, 91);
    color:#fff
}

/************************************** hr tag in lessons styling */
.f{
    border: 1px solid white;
}




/*****************************contact page styling*****************************/

.s6{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #03080a;
}

.s7{
    width: 80%;
    padding:20px;

}

.s7 h2{
     width:100%;
     color:#45f3ff;
     font-size:36px;
     text-align:center;
     margin-bottom:10px;

}

.s7 .row100{
    position: relative;
    width:100%;
    display:grid;
    grid-template-columns: repeat(autofit,minmax(300px,1fr));

}

.s7 .row100 .col{
    position: relative;
    width:100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;

}

.s7 .row100 .inputbox{
    position: relative;
    width:100%;
    height: 40px;
    color: #45f3ff;
}

.s7 .row100 .inputbox input,
.s7 .row100 .inputbox .textarea textarea
    {
    position: absolute;
    width:100%;
    height:100%;
    background: transparent;
    box-shadow: none;
    border:none;
    outline:none;
    font-size: 18px;
    padding:0 10px;
    z-index:1;
    color: #000;
}

.s7 .row100 .inputbox .text{
    position: absolute;
    top:0;
    left:0;
    line-height: 40px;
    font-size: 18px;
    padding:0 10px;
    display:block;
    transition: 0.5s;
    pointer-events: none;
}

.s7 .row100 .inputbox input:focus+ .text,
.s7 .row100 .inputbox input:valid+ .text
    {
    top:-35px;
    left:-10px;

}

.s7 .row100 .inputbox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width:100%;
    height:2px;
    background: #45f3ff;
    transition: 0.5s;
    border-radius:2px;
    pointer-events: none;
}

.s7 .row100 .inputbox input:focus ~ .line,
.s7 .row100 .inputbox input:valid ~ .line{
    height:100%;
}

.s7 .row100 .inputbox .textarea{
    position:relative;
    width: 100%;
    height:100%;
    padding: 10px 0;
}

.s7 .row100 .inputbox .textarea textarea{
    height:100%;
    resize:none;
}

.s7 .row100 .inputbox textarea:focus ~ .text,
.s7 .row100 .inputbox textarea:valid ~ .text{
    top:-35px;
    left: -10px;
}

.s7 .row100 .inputbox textarea:focus ~ .line,
.s7 .row100 .inputbox textarea:valid ~ .line{
    height:100%;
}

input[type="submit"]{
    border:none;
    padding:7px 35px;
    cursor:pointer;
    outline:none;
    border:#45f3ff;
    color: #000;
    font-size:18px;
    border-radius: 2px;
}
